h1 {
    background-color: rgb(34, 34, 34);
    color: blueviolet;
    font-size: 45px;
    font-style:oblique;
    text-align: center;
}
aside{
    background-color:white
}

.tabela {
    background-color: aquamarine;
}

img {
    border: 2px solid rgb(250, 11, 11);
    border-radius: 8px;
    padding: 5px;
}
footer {
    background-color:rgb(68, 68, 68);
    text-align: center;
    color: azure;
}
